include README.md
include makefile

# c/
recursive-include c *.c *.h

# 3rdparty

# mgm_multi/
recursive-include 3rdparty/mgm_multi *
prune 3rdparty/mgm_multi/matlab

# mgm/
recursive-include 3rdparty/mgm *
prune 3rdparty/mgm/matlab

# tvl1flow/
recursive-include 3rdparty/tvl1flow *

# homography/
recursive-include 3rdparty/homography *
prune 3rdparty/homography/test_data

# sift/
recursive-include 3rdparty/sift/simd *

# msmw3/
recursive-include 3rdparty/msmw3 *
prune 3rdparty/msmw3/test_data

# sgm_gpu-develop-for-s2p/
recursive-include 3rdparty/sgm_gpu-develop-for-s2p *
prune 3rdparty/sgm_gpu-develop-for-s2p/images

include bin/.dummy
include lib/.dummy

global-exclude .travis.yml *.png *.o *.so
